@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans TC", "Poppins", sans-serif, Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-routing-container {
  display: none;
}

.leaflet-container {
  border-radius: 40px;
}

.leaflet-marker-icon.my-div-icon {
  color: rgb(211, 100, 27);
  white-space: nowrap;
}

@media print {
  @page {
    size: 1200px 1200px;
    margin: 10px;
  }
  .leaflet-control-zoom {
    display: none;
  }
  #mapDD {
    height: 1100px;
  }
}
