@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans TC", "Poppins", sans-serif, Arial, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.react-multi-carousel-dot button:hover:active {
  background: lightgray !important;
}
.react-multi-carousel-dot--active button {
  background: grey !important;
}
.react-multi-carousel-dot button {
  width: 10px !important;
  height: 10px !important;
  border: none !important;
  opacity: 1 !important;
  margin-right: 10px !important;
}

.leaflet-routing-container {
  display: none;
}

.leaflet-container {
  border-radius: 40px;
}
.leaflet-top {
  z-index: 850;
}
.leaflet-marker-icon.my-div-icon {
  color: rgb(211, 100, 27);
  white-space: nowrap;
}

/* .css-yk16xz-control {
  border-radius: 15px !important;
  box-sizing: border-box !important;
  border: 1px solid #ea7a60 !important;
  padding: 10px 20px !important;
  outline: none !important;
}

.css-1pahdxg-control {
  border-radius: 15px !important;
  box-sizing: border-box !important;
  border: 1px solid #dba99e !important;
  padding: 10px 20px !important;
  box-shadow: none !important;
} */

@media print {
  @page {
    size: 1200px 1200px;
    margin: 10px;
  }
  .leaflet-control-zoom {
    display: none;
  }
  #mapDD {
    height: 1100px;
  }
}
